@charset "UTF-8";



/* Styles et couleurs -------------------------------------------------------------------------- */
.requis {
    color: #c00;
}

.erreur {
    color: #900;
}

.succes {
    color: #090;
}

.info {
    font-style: italic;
    color: #E8A22B;
}
 .center {
  margin: auto;
  width: 25%;

  padding: 10px;
}