<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Bomberman-JEE</display-name>
 <servlet>
  	<servlet-name>acueil</servlet-name>
  	<servlet-class>servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>acueil</servlet-name>
  	<url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>user</servlet-name>
  	<servlet-class>servlets.User</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>user</servlet-name>
  	<url-pattern>/User</url-pattern>
  </servlet-mapping>
</web-app>