<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Bomberman-JEE</display-name>
 <servlet>
  	<servlet-name>acueil</servlet-name>
  	<servlet-class>servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>acueil</servlet-name>
  	<url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>user</servlet-name>
  	<servlet-class>servlets.User</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>user</servlet-name>
  	<url-pattern>/User</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>users</servlet-name>
  	<servlet-class>servlets.Users</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>users</servlet-name>
  	<url-pattern>/Users</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>partie</servlet-name>
  	<servlet-class>servlets.PartieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>partie</servlet-name>
  	<url-pattern>/Partie</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>deconnexion</servlet-name>
  	<servlet-class>servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deconnexion</servlet-name>
  	<url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>restrictionFilter</filter-name>
  	<filter-class>filters.RestrictionFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>restrictionFilter</filter-name>
  	<url-pattern>/Partie</url-pattern>
  	<url-pattern>/Users</url-pattern>
  </filter-mapping>
  
</web-app>